{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<h1 style="text-align: center" class="py-4">About</h1>

<center>
  <div class="row-cols-md-3 g-4 py-4 px-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://i.blogs.es/9feeb1/contactosz/375_142.jpg" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alfredo Daniel Carmona Gonzalez</h5>
          <p class="card-text">Soy Daniel, tengo 28 años, cursé la mitad de la carrera de Ingenieria en electronica y
            actualmente preparandome en programacion.</p>
        </div>
      </div>
    </div>
  </div>
</center>

{% endblock ListaDeContenidos %}