{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<div class="container px-lg-5">
    <div class="p-4 p-lg-7 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-5">

            <form action="{% url 'AgregarUsuario' %}" method="POST">{% csrf_token %}

            <h1 style="text-align: center" class="py-4">Agregar Usuarios</h1>

            <div style="text-align: center" class="py-4">
                
                {{ formulario_usuario.as_table }}
                <input type="submit" value="Enviar" class="btn btn-outline-dark mt-auto"/>

            </div>

            </form>
        </div>
    </div>
</div>

{% endblock ListaDeContenidos %}