{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<h1 style="text-align: center" class="py-4">Amplificadores</h1>

<ul style="text-align: center">
    
    {% for amplificador in amplificadores %}
    <p style="text-align: center">
        {{amplificador.marca}}
        <div style="text-align: center"> <b>Modelo:</b> {{amplificador.modelo}}</div>
    </p>
    <div>
        <form action="{% url 'EliminarAmplificador' amplificador.id %}" method="POST">{% csrf_token %}
            <center><button class="btn btn-outline-dark mt-auto" type="submit">Eliminar</button></center>
        </form>
        <center><button class="btn btn-outline-dark mt-auto">
            <a href="{% url 'EditarAmplificador' amplificador.id %}">Editar</a>
        </button></center>
    </div>
    {% endfor %}

</ul>

<center><a class="btn btn-outline-dark mt-auto" href="{% url 'AgregarAmplificador' %}">Amplificador nuevo</a></center>

{% endblock ListaDeContenidos %}