{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-5">

            <h1 style="text-align: center" class="py-3">Amplificadores</h1>

            <ul style="text-align: center">
                
                {% for amplificador in amplificadores %}
                <p style="text-align: center">
                    {{amplificador.marca}}
                    <div style="text-align: center"> <b>Modelo:</b> {{amplificador.modelo}}</div>
                </p>
                <div>
                    <form action="{% url 'EliminarAmplificador' amplificador.id %}" method="POST">{% csrf_token %}
                        <center><button class="btn btn-outline-dark mt-auto" type="submit">Eliminar</button></center>
                    </form>
                    <div class="py-2">
                        <center><button class="btn btn-outline-dark mt-auto">
                            <a href="{% url 'EditarAmplificador' amplificador.id %}">Editar</a>
                        </button></center>
                    </div>
                </div>
                {% endfor %}

            </ul>
            <div class="py-4">
                <center><a class="btn btn-outline-dark mt-auto" href="{% url 'AgregarAmplificador' %}">Amplificador nuevo</a></center>
            </div>
        </div>
    </div>
</div>
{% endblock ListaDeContenidos %}