{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<h1 style="text-align: center" class="py-3">Amplificadores</h1>

<div class="py-2">
    <center><button class="btn btn-dark mt-auto px-4"><a href="{% url 'BuscarAmplificador' %}"class="text-light px-4">Buscar Amplificador</a></button></center>
</div>

{% for amplificador in amplificadores %}
<center>
    <div class="col-lg-6 col-xxl-4 mb-5 py-4">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i></i></div>
                <h2 class="fs-4 fw-bold">{{amplificador.marca}}</h2>
                <p class="mb-0"><b>Modelo:</b> {{amplificador.modelo}}</p>
                <div>
                    <div class="py-2">
                        <center><button class="btn btn-dark mt-auto">
                                <a href="{% url 'EditarAmplificador' amplificador.id %}" class="text-light">Editar</a>
                            </button></center>
                    </div>
                    <form action="{% url 'EliminarAmplificador' amplificador.id %}" method="POST">{% csrf_token %}
                        <center><button class="btn btn-outline-dark mt-auto" type="submit">Eliminar</button></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
{% endfor %}

{% endblock ListaDeContenidos %}