{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-5">
            <form action="{% url 'Buscar' %}" method="GET">{% csrf_token %}

                <div style="text-align: center" class="py-4">

                    <p>Ingrese el modelo del instrumento <input type="number" name="modelo"/></p>
                    <input type="submit" value="Buscar" class="btn btn-outline-dark mt-auto">
                
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock ListaDeContenidos %}