{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<h1 style="text-align: center" class="py-3">Contactanos</h1>
<center>
    <div class="col-lg-6 col-xxl-4 mb-5 py-4">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
                <h4>Envianos un correo</h4>
                <p>
                    Escribe tu nombre, correo electronico y un mensaje si tienes alguna pregunta.
                    Uno de los miembros de nuestro personal estará encantado de contactarlo directamente y responder sus preguntas tan pronto como sea posible.
                </p>
                <form method="post">
                    {% csrf_token %}
                    {{formulario.as_p}}
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</center>

{% endblock ListaDeContenidos %}