{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<center>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 style="text-align: center" class="py-4">¿Que desea hacer?</h1>
                <center>
                    <button class="btn btn-outline-dark mt-auto"><a href="{% url 'Proveedor' %}">Todos los
                            proveedores</a></button>
                    <button class="btn btn-outline-dark mt-auto"><a href="{% url 'AgregarProveedor' %}">Agregar
                            proveedor</a></button>
                </center>
            </div>
        </div>
    </div>
</center>

{% endblock ListaDeContenidos %}