{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<h1 style="text-align: center" class="py-3">Instrumentos</h1>

{% for instrumento in instrumentos %}
<center>
    <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-dark text-white rounded-3 mb-4 mt-n4"><i></i></div>
                <h2 class="fs-4 fw-bold text-dark">{{instrumento.nombre}}</h2>
                <p class="mb-0 text-dark"><b> Modelo:</b> {{instrumento.modelo}} - <b>Marca:</b>
                    {{instrumento.marca}}.</p>


                <div>
                    <div class="py-2">
                        <center><button class="btn btn-dark mt-auto">
                                <a href="{% url 'EditarInstrumento' instrumento.id %}"
                                    class="text-light">Editar</a></button>
                        </center>
                    </div>
                    <form action="{% url 'EliminarInstrumento' instrumento.id %}" method="POST">{% csrf_token %}
                        <center><button class="btn btn-outline-dark mt-auto" type="submit">Eliminar</button>
                        </center>
                    </form>

                </div>
            </div>
        </div>
    </div>
</center>
{% endfor %}

<div class="py-4">
    <center><a class="btn btn-outline-dark mt-auto" href="{% url 'AgregarInstrumento' %}">Instrumento nuevo</a></center>
</div>

{% endblock ListaDeContenidos %}