{% extends 'Inicio.html' %}
{% load static %}

{% block ListaDeContenidos %}

<h1 style="text-align: center" class="py-4">Usuarios</h1>

{% for usuario in usuarios %}
<center>
    <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
                <h2 class="fs-4 fw-bold">{{usuario.nombre}} {{usuario.Apellido}}</h2>
                <p class="mb-0"><b> Correo electronico:</b> {{usuario.email}}</p>

                <div>
                    <form action="{% url 'EliminarUsuario' usuario.id %}" method="POST">{% csrf_token %}
                        <div class="py-4">
                            <center><button class="btn btn-outline-dark mt-auto" type="submit">Eliminar</button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
{% endfor %}

<div class="py-4">
    <center><a class="btn btn-outline-dark mt-auto" href="{% url 'AgregarUsuario' %}">Usuario nuevo</a></center>
</div>

{% endblock ListaDeContenidos %}